/* $yellow: #f7b733;
$lt-blue: #bee9e8;
$dk-blue: #62b6cb;
$dk-grey: #414141;
$lt-grey: #85878d;
$white-grey: #f1f1f1;
$white: white; */

body {
  background: #f1f1f1;
  overflow-x: hidden;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  margin: auto;
  padding:0;
  width: 100vw;
  height:100%;
  font-family: 'Roboto', 'Arial', sans-serif;
  font-weight: lighter;
}

.body-width {
  width: 60%;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  margin: auto;
}

main {
  width: 60%;
}

h1 {
  margin: 2rem auto 1rem auto;
  color: #414141;
  text-align: center;
  font-size: 1.33rem;
  font-weight: lighter;
}

h2 {
  text-transform: uppercase;
  color: #f7b733;
  font-size: .83rem;
  padding: .5rem .1rem;
  margin-bottom: 0;
}

h3 {
  font-weight: normal;
  font-size: 1rem;
  color: #414141;
  margin: 0;
  padding: .1rem;
}

h4 {
  font-weight: lighter;
  font-size: .83rem;
  color: #85878d;
  text-transform: uppercase;
  margin: .1rem 0;
  padding: .1rem;
}

p {
  margin: 0;
  padding: .2rem .1rem;
  font-size: 14px;
}

a {
  color: #62b6cb;
  text-decoration: none;
}

a:hover {
  color: #58A4B7;
}

header {
  background: white;
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  height: 20vh;
  margin: 2rem 0 1rem 0;
}

.name-logo {
  font-size: 2rem;
  width: 50%;
  align-self: center;
  color: #f7b733;
}

.nav-links {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  width: 50%;
  justify-content: flex-end;
}

nav a {
  color: #85878d;
  text-decoration: none;
  padding-left: .33rem;
  margin: 0 0 0 1rem;
}

nav a:hover {
  color: #f7b733;
}

.active-nav {
  color: #414141;
  border-left: 2px solid #f7b733;
  padding-left: calc(.33rem - 2px);
}

ul {
  margin-left: 0;
  padding-left: 1rem;
}

ul li {
  list-style-type: square;
  font-size: 14px;
  padding: .5rem 0;
}

.row-container {
  display: flex;
  flex-flow: row wrap;
  margin-top: 1rem;
  width: 100%;
}

.row-center {
  justify-content: center;
}

.column-container {
  display: flex;
  flex-flow: column nowrap;
}

.column-center {
  align-items: center;
}

.column-right-align {
  width: 100%;
  text-align: right;
}

a.credit {
  font-size: 9px;
  color: #bee9e8;
}

a:hover.credit {
  color: #ABD2D1;
}

.hero-img {
  border-radius: 50%;
  height: auto;
}

footer {
  display: flex;
  flex-flow: row nowrap;
  background-color: white;
  width: 100%;
  height: 60px;
  margin: 2rem 0 0 0;
  justify-content: center;
}
footer  ul {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    padding: 0 1rem;
    margin: 0;
}
footer ul li {
      list-style-type: none;
      padding: .5rem;
}


/* projects */
.card {
  align-items: flex-start;
  margin: 1em;
  width: 40%;
}
.card img {
    max-height: 30vh;
    width: 100%;
    height: auto;
    background-color: white;
    border-radius: 4px;
    box-shadow: rgba(0,0,0,.1) 2px 4px 6px;
}

.card img:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 2px 4px 4px;
}
.card a.credit {
    align-self: center;
    text-align: right;
    flex-grow: 1;
}


/* resume */
#resume-border {
  border: 2px solid white;
}
#resume-container {
  display: flex;
  flex-flow: row nowrap;
  margin: .5rem;
  background-color: white;
}
#resume-container .resume-col {
  margin: .5rem 1.5rem;
}

/* contact */
.contact-container {
  margin: 1rem;
  text-align: center;
}
.contact-container  a {
    color: #f7b733;
}
.contact-container  a:hover {
    color: #DEA52E;
}

.contact-hero {
  max-width: 50%;
}

 /* about */
.about-hero {
  max-width: 30%;
}

.about-img {
  max-height: 30vh;
  width: auto;
  image-orientation: from-image;
  padding: .25rem;
}
